---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - ns.yaml

patches:
  - target:
      kind: Deployment
      name: otel-instrumentation-mcp
    path: deploy-patch.yaml

  - target:
      kind: OpenTelemetryCollector
      name: otelcol
    path: otel-collector-patch.yaml
